/auto-save-list/
*~
/autogen-cus.el
/early-init.el
/history
/init.el
/magithub/
/projectile-bookmarks.eld
/recentf
/smex-hist.el
/straight/
/transient/
/url/
/.cache/
/.extension/
/annotations
/mypkts/
